#contenedor{
  margin-left: 10px;
  margin-right: 30px;
  background-image: url('../../../../assets/fondo.jpg'); /* Cambia 'ruta_de_la_imagen.jpg' por la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  //height: 100vh; /* Ajusta la altura del contenedor al 100% de la ventana gráfica */
  /* Puedes agregar más propiedades CSS según tus necesidades */
}

p{
  text-align:justify;
}

h1{
  text-align: center;
}
