<div id="contenedor">
  <h1>RESUMEN</h1>
  <p>Se planteó la necesidad de los dueños de gatos que en una situación de emergencia no pueden llegar a tiempo para alimentar a sus mascotas. Los gatos al ser animales con altos niveles nerviosos no les gusta salir de su zona de confort, lo que complica el desplazamiento de sus cuidadores al viajar o salir de emergencia. </p>

  <p>Evaluando la problemática y la compleja alimentación constante se define la solución por medio de un sistema digital que permita entregar la comida al gato a partir de los datos recibidos, como la cantidad de comida y el intervalo de tiempo.</p>

  <p>Para cumplir con estas especificaciones, se investiga sobre el uso de sensores de peso, lo que tendrá como principal función el detectar la cantidad de comida que se va a entregar, y una balanza que calcule la cantidad que comida que está en el recipiente a la hora de entregarla, se hace uso de una Galga extensiométrica o sensor de peso, un dispositivo conversor de señales (hx711), un microcontrolador y una pantalla o la escritura del peso y que muestre la cantidad del alimento que está en la báscula, esto a nivel global.</p>

  <p>El intervalo del tiempo se calcula en el código específico del sistema, el cual activara el sensor que indicara la hora de hacer entrega de la comida, por medio del microcontrolador utilizado. </p>

  <p>La simulación del sistema se realiza por medio de la herramienta TinkerCad y se realizan los diseños, estructura y programación del dispositivo en lo largo de la documentación actual. Todo lo mencionado, está sujeto a cambios hasta la entrega final y solución presentada.</p>

  <h1>OBJETIVOS</h1>

  <h2>OBJETIVO GENERAL</h2>

  Plantear, Diseñar, y entregar un prototipo digital para la entrega de comida para gatos según la cantidad y tiempo específico.

  <h2>OBJETIVOS ESPECÍFICOS </h2>

  <p>Investigar los principios técnicos y teóricos para la elaboración del Sistema.

  Analizar los cálculos y herramientas necesarias para el diseño del prototipo.

  Diseñar el prototipo del sistema digital que permita dosificar según cantidad y tiempo indicado el alimento.

  Construir y evaluar el prototipo con las herramientas digitales utilizadas. </p>

  <h1>PLANTEAMIENTO DEL PROBLEMA</h1>

  <p>
    En la sociedad actual, es cada vez más frecuente que las personas tengan gatos en sus hogares. En muchos casos, estos adorables animales domésticos no solo brindan compañía, sino que también ofrecen protección y aportan beneficios significativos para la salud humana. Entre estos beneficios se incluye la reducción del estrés, la prevención de la depresión y el fortalecimiento de la autoestima. Además, los gatos pueden motivar a sus dueños y protegerlos de diversas maneras.

Hoy en día, existen dispositivos diseñados para alimentar a nuestras queridas mascotas. Algunos de estos dispositivos son automáticos, pero suelen tener un costo elevado. Por otro lado, los dispositivos utilizados en algunos países para alimentar a animales sin hogar a menudo no satisfacen adecuadamente las necesidades de las mascotas, lo que resulta en una alimentación insuficiente.

Por estos motivos, sería valioso desarrollar un diseño de dispensador de alimentos que permita la entrega de porciones adecuadas de acuerdo con el tamaño del gato. Un dispositivo eficiente, confiable y asequible sería de gran utilidad tanto para los dueños de mascotas como para las organizaciones que protegen a los animales abandonados o que viven en las calles.

Aunque existen comederos que dosifican la comida de manera precisa, su precio suele ser elevado. Además, hay otros dispensadores que permiten a las mascotas comer a su propio ritmo y según su deseo, lo que significa que pueden ingerir la cantidad que deseen en cualquier momento.

Sin embargo, los dispensadores automáticos requieren que los dueños conozcan la cantidad de alimento que sus mascotas necesitan. Además, su programación a menudo implica el uso de botones que pueden ser propensos a fallas debido al contacto con restos de comida, la interacción con la mascota o un mal uso. Sin mencionar que, en algunos casos, la configuración de estos dispositivos puede resultar compleja.</p>

 <h1>JUSTIFICACIÓN</h1>

<p>
  Como se mencionó previamente, en la sociedad actual, es común que en numerosos hogares se conviva con un felino. Sin embargo, es muy probable que los dueños no puedan proporcionarles alimento de manera adecuada en los horarios recomendados, especialmente debido a diversas circunstancias que los mantienen alejados de sus mascotas. Entre las situaciones que pueden causar la ausencia del dueño se incluyen:

Salir para actividades de ocio.

Tomar vacaciones.

Enfrentar jornadas laborales prolongadas.

Viajar por motivos de trabajo.

Experimentar hospitalizaciones o emergencias, entre otras.

El desarrollo de un dispensador automatizado diseñado específicamente para gatos permitirá alimentar a estas adorables mascotas de manera más sencilla y eficiente, en horarios preestablecidos y con porciones adaptadas según su peso y tamaño.

El propósito central de este proyecto radica en satisfacer la necesidad de contar con un producto ergonómico, de uso sencillo, versátil, eficiente y asequible, que pueda cubrir tanto las necesidades de los dueños para alimentar a sus gatos como las de las fundaciones que protegen a los gatos sin hogar. Es esencial que el sistema sea de fácil manejo y altamente confiable, garantizando la salud y bienestar de la mascota y la tranquilidad del dueño.

El propietario podrá disfrutar de paz mental, ya que el sistema automatizado se encargará de la alimentación en horarios establecidos y proporcionará raciones precisas. Esto eliminará la dependencia de terceros cuando la mascota se encuentre sola, y ayudará a establecer una rutina beneficiosa para el gato.

Los beneficiarios de este proyecto incluyen a los dueños de gatos, así como a las organizaciones de rescate animal y, por supuesto, a los gatos mismos. El propósito de este proyecto es brindar apoyo a quienes tienen la responsabilidad de proteger y alimentar a los gatos, ya sea en sus hogares o en refugios de protección animal.

 En resumen, este sistema tiene el potencial de mejorar significativamente la calidad de vida tanto de los propietarios como de los gatos, permitiendo que los dueños vivan con mayor tranquilidad, seguridad y sin preocupaciones, lo que les permitirá desarrollar sus diversas actividades cotidianas de manera más efectiva.
</p>
</div>
